.quick{
    display: block;
    margin: auto;
    /* margin-top: -80%; */
    width: 90%;
    height: 35px;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1;
    font-size: 1rem;
    font-weight: 400;
    font-family: helvetica,helvetica,arial,sans-serif;
    color: #212529;
    cursor: pointer;
    display: none;
    position: relative;
    background-color:rgb(76,76,76);
    opacity: 0.5;
    transition: color .15s;
    z-index: 5;
}
.card:hover .quick{
    border: 1px solid black;
    border-radius: 5px;
    color:white;
    opacity: 0.7;
    font-weight: 600;
    display: block;
    text-align: center;
    cursor: pointer;
    /* text-decoration: line-through; */
    
}